extends ../layout

block content
  .container
    .article-wrapper
      .col-md-6.center.float-none
        h2 List Parents
        ul.list-group
          each parent in parents
            li.list-group-item
              a(href='/users/edit/'+parent._id) #{parent.details.firstname} #{parent.details.lastname}
                span
                  a.btn.btn-primary.pull-right(href='/users/edit/'+parent._id) Edit
                span
                  a.btn.btn-primary.pull-right(href='/users/view/'+parent._id) View
        a.btn.btn-primary(href='/users/register') Add Parent
        a.btn.btn-primary(type='submit', href='/') Home
